<mat-toolbar class="toolbar" color="primary">
  @if (dashboardIsActive) {
    <mat-slide-toggle class="analytic-panel-btn" color="primary" [formControl]="enableDrag">Widget draggable</mat-slide-toggle>
    <mat-slide-toggle class="analytic-panel-btn" color="primary" [formControl]="enableResize">Widget resizable</mat-slide-toggle>
  }
  <button
    class="nav-btn"
    #userDetailsBtnRef="routerLinkActive"
    mat-raised-button [color]="userDetailsBtnRef.isActive ? '' : 'primary'"
    routerLink="/user-details"
    routerLinkActive="active"
  >User details</button>
  <button
    class="nav-btn"
    #userAnalyticsBtnRef="routerLinkActive"
    mat-raised-button
    [color]="userAnalyticsBtnRef.isActive ? '' : 'primary'"
    routerLink="/analytics"
    routerLinkActive="active"
  >Analytics</button>

</mat-toolbar>
<div class="body-content">
  <router-outlet></router-outlet>
</div>
<footer class="footer"></footer>
